/* Importing fonts */
@font-face {
    font-family: 'Montserrat-light';
    src: url(../font/Montserrat-Light.ttf)
}
@font-face {
    font-family: 'Montserrat-medium';
    src: url(../font/Montserrat-Medium.ttf)
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url(../font/Montserrat-Regular.ttf)
}
@font-face {
    font-family: 'Montserrat-semi-bold';
    src: url(../font/Montserrat-SemiBold.ttf)
}
@font-face {
    font-family: 'Montserrat-thin';
    src: url(../font/Montserrat-Thin.ttf)
}

/* Begin of the home part */
html body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat-regular';
}

.home-section {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.navbar-container {
    width: auto;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.329);
}

.navbar-link-container {
    width: auto;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:0;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.navbar-link {
    list-style: none;
}

.navbar-link a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat-semi-bold'
}

.navbar-link a:hover {
    color: rgb(80, 80, 80);
}

div.content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 50%;
    margin-left: 9%;
    flex-grow: 2;
}

div.content .first {
    margin-bottom: 0;
    padding-bottom: 0;
}

div.content .seccond {
    margin-top: 0;
    padding-top: 0;
}

div.home-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background: rgba(255, 255, 255, 0.329);
    padding-top: 15px;
    padding-bottom: 15px;
}

div.home-footer a {
    text-decoration: none;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

div.home-footer .footer-icon {
    width: 60%;
    height: auto;
}

/* End of the home part */

/* Begin of the about part */

.about-section {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.about-header {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.photo-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.photo {
    width: 200px;
    height: 200px;
    background: url(../images/perfil.jpg);
    background-size: cover;
    border-radius: 50%;
}

.about-me {
    background: rgb(78, 78, 78);
    color: white;
    flex-grow: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-bottom: 3%;
}

.about-me p {
    padding: 5% 10%;
}
div.about-footer {
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div.about-footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

div.about-footer .footer-icon {
    width: 60%;
    height: auto;
}


/* End of the about part */

/* Begin of the projects part */

.projects-section {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.projects-header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-body {
    flex-grow: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin-top: 7%;
    margin-bottom: 7%;
    background: white;
    border: 1px solid rgb(186, 187, 189);
    border-radius: 7px;
}

/* End of the projects part */